<h1>
  community= {{title|display_some}} topics: {% if
  discussion_view.as_ref().unwrap().topics.is_some() %} {% for topic in
  discussion_view.as_ref().unwrap().topics.as_ref().unwrap() %}
  <a href="?topic_id={{topic.id}}">{{topic.title}}</a>, {% endfor %} {% endif %}
</h1>
discussion=<a
  href="/community/{{id.to_raw()}}/discussion?id={{ default_discussion.to_raw() }}"
  >edit {{default_discussion.to_raw()}}</a
>
<a href="/discussion/{{default_discussion.to_raw()}}/topic">add topic</a>
<a href="/discussion/{{default_discussion.to_raw()}}/post">add post</a>

{{discussion_view.as_ref().unwrap()|safe}}
