<div class="mx-auto w-full lg:w-1/2 md:p-10 py-5 md:py-0">
    <h1 class="text-center text-2xl sm:text-3xl font-semibold text-[#4a07da]">
        Create Discussion
    </h1>
    <div class="w-full mt-5 sm:mt-8">
        <div class="mx-auto w-full sm:max-w-md md:max-w-lg flex flex-col gap-5" hx-ext="response-targets">
            <form>
                <div class="flex flex-col sm:flex-row gap-3">
                    <input
                            type="hidden"
                            name="id"
                            value="{% if discussion_view.id.is_some() %}{{discussion_view.id.as_ref().unwrap()}}{% endif %}"
                    />
                    <input
                            type="hidden"
                            name="community_id"
                            value="{{discussion_view.belongs_to.to_raw()}}"
                    />
                    <input
                            type="text"
                            name="title"
                            value="{{discussion_view.title|display_some}}"
                            placeholder="Title"
                            class="input input-bordered input-primary w-full max-w-xs"
                    />

                </div>
                <div id="error"></div>
                <div class="flex flex-col md:flex-row gap-2 md:gap-4 justify-center items-center">
                    <button hx-post="/api/discussion" hx-target="closest div" hx-target-*="#error"
                            class="btn btn-active btn-primary btn-block max-w-[200px]">
                        Create
                    </button>
                    <!--<button class="btn btn-outline btn-primary btn-block max-w-[200px]">
                        Sign In
                    </button>-->
                </div>
            </form>
            <hr/>
            {{topic_form|safe}}
        </div>
    </div>
</div>
