{% extends "base.html" %}

{% block content %}
<div class="flex justify-center items-center w-full  min-h-screen px-5 py-5">
    <div class="xl:max-w-7xl drop-shadow-xl border border-black/20 w-full rounded-md flex justify-between items-stretch px-5 xl:px-5 py-5">
        <div class="sm:w-[60%] lg:w-[50%] bg-cover bg-center items-center justify-center hidden md:flex ">
            <!--            -->
            <img
                    src="/assets/img/discussion.jpg"
                    alt="discussion"
                    class="h-[500px]"
            />
        </div>
        <div class="mx-auto w-full lg:w-1/2 md:p-10 py-5 md:py-0">
            <h1 class="text-center text-2xl sm:text-3xl font-semibold text-[#4a07da]">
                Completed Connection of Stripe Account
            </h1>
            <div class="w-full mt-5 sm:mt-8">
                <div class="mx-auto w-full sm:max-w-md md:max-w-lg flex flex-col gap-5" hx-ext="response-targets">
                    {% if link.len()>0 %} <a href="{{link}}">Click here</a> and go to Stripe for remaining data to accept payments.
                    {% else %}
                    Looks all good with Stripe account, ready to accept payments.
                    {% endif %}                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
