{% extends "base.html" %}

{% block content %}
<h1>POST {{title}}</h1>
<ul>
    {% for reply in replies %}
    <li>{{ reply.title }}</li>
    {% endfor %}
</ul>
<div hx-ext="response-targets">
    <h5>new reply</h5>
    <form >
        <input name="title"></input>
        <textarea name="content"></textarea>
        <div id="error"></div>
        <button  hx-post="/api/discussion/{{discussion_id}}/post/{{title_uri}}/reply" hx-target="closest div" hx-target-*="#error" class="btn btn-active btn-primary btn-block max-w-[200px]">
            Create
        </button>
    </form>
</div>
{% endblock %}

