<div id="topicForm">
    <form>
        <input type="hidden" name="id" value="{{id}}">
        <div class="form-control">
            <label class="label cursor-pointer">
                <span class="label-text">Title</span>
                <input name="title" type="text" value="{{title}}"/>
            </label>
        </div>
        <div class="form-control">
            <label class="label cursor-pointer">
                <span class="label-text">Hidden</span>
                <input name="hidden" type="checkbox" class="toggle" {% if hidden %}checked="checked"{% endif %}/>
            </label>
        </div>
        <div class="form-control">
            <select name="access_rule_id">
                <option value="" label="public"></option>
                {% for access_rule in access_rules %}
                <option value="{{access_rule.id.as_ref().unwrap().to_raw()}}" label="{{access_rule.title}}"></option>
                {% endfor %}
            </select>
        </div>
        <div id="errorTopic"></div>
        <div class="flex flex-col md:flex-row gap-2 md:gap-4 justify-center items-center">
            <button hx-post="/api/discussion/{{discussion_id}}/topic" hx-target="#discussion_topic_items_edit"
                    hx-swap="outerHTML"
                    hx-target-*="#errorTopic"
                    class="btn btn-active btn-primary btn-block max-w-[200px]">
                Save
            </button>
        </div>
    </form>
</div>
