
<h1>profile discussion= {{id|display_some}}</h1>

{% include "profile_post-list-1-popup.html" %}

<div hx-ext="response-targets">
        <h5>new post</h5>
        <form hx-encoding='multipart/form-data' hx-post="/api/discussion/{{discussion_id}}/post"
              hx-target="#e_post_form" hx-target-*="#e_post_form">
            <input name="title" value="{{title}}"></input>
            <textarea name="content" value="{{content}}"></textarea>
            <select
                    name="topic_id"
            >
                <option value="" label="general topic"/>

                {% for topic in topics %}
                <option value="{{topic.id.to_raw()}}" label="{{topic.title}}"/>
                {% endfor %}

            </select>

            <input type='file' name='file_1' accept=".jpg,.jpeg,.png,image/*">

            <div id="e_post_form"></div>
            <button class="btn btn-active btn-primary btn-block max-w-[200px]">
                Create
            </button>
        </form>
    </div>
